<p id="notice"><%= notice %></p>

<h1>Fixtures</h1>

<table>
  <thead>
    <tr>
      <th>Id tournament</th>
      <th>Id match</th>
      <th>Round</th>
      <th>Local</th>
      <th>Visitor</th>
      <th>L goals</th>
      <th>V goals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fixtures.each do |fixture| %>
      <tr>
        <td><%= fixture.id_tournament %></td>
        <td><%= fixture.id_match %></td>
        <td><%= fixture.round %></td>
        <td><%= fixture.local %></td>
        <td><%= fixture.visitor %></td>
        <td><%= fixture.l_goals %></td>
        <td><%= fixture.v_goals %></td>
        <td><%= link_to 'Show', fixture %></td>
        <td><%= link_to 'Edit', edit_fixture_path(fixture) %></td>
        <td><%= link_to 'Destroy', fixture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fixture', new_fixture_path %>
