<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @tournament.description %>
</p>

<%= link_to 'Editar Torneo', edit_tournament_path(@tournament) %> |
<%= link_to 'Volver', tournaments_path %> |
<%= link_to 'Generar Fixture', '/generate_fixture' %>

