<p id="notice"><%= notice %></p>

<h1>Calendars</h1>

<table>
  <thead>
    <tr>
      <th>Id tournament</th>
      <th>Id match</th>
      <th>Round</th>
      <th>Local</th>
      <th>Visitor</th>
      <th>L goals</th>
      <th>V goals</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.id_tournament %></td>
        <td><%= calendar.id_match %></td>
        <td><%= calendar.round %></td>
        <td><%= calendar.local %></td>
        <td><%= calendar.visitor %></td>
        <td><%= calendar.l_goals %></td>
        <td><%= calendar.v_goals %></td>
        <td><%= link_to 'Show', calendar %></td>
        <td><%= link_to 'Edit', edit_calendar_path(calendar) %></td>
        <td><%= link_to 'Destroy', calendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Calendar', new_calendar_path %>
